[submodule "cms-core"]
	path = cms-core
	url = https://github.com/nurlanotek/cms-core
[submodule "associations"]
	path = associations
	url = https://github.com/geobe/associations
[submodule "state-machine"]
	path = state-machine
	url = https://github.com/geobe/state-machine
[submodule "vaadin-builder"]
	path = vaadin-builder
	url = https://github.com/geobe/vaadin-builder
